body {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: rgb(226, 196, 150);
    justify-content: center;
    text-align: center;
}

img {
    width: 15%;
}



 