img {
    width: 20px;
}

body {
    background-image: url(https://wallpaperaccess.com/full/429962.jpg);
    background-repeat: no-repeat;
}

div {
    background-color: cornsilk;
    width: 250px;
}

